.TopBar
{
    background-color: blue; 
}

.hotMovies
{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

.filmes
{
    padding-left: 10px;
    padding-top: 10px;
    width:  250px;
    height: 330px;
    object-fit: cover;
    border-radius: 5%;
    filter: drop-shadow(3px 7px 5px #000);
    filter:saturate(0%);
}

.filmes:hover
{
    animation-name: de-saturate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes de-saturate {
	0% {  }
	100% { filter: saturate(90%); }		
}

.activePage:hover
{
    cursor: pointer;
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.activePage{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.Links{
    textDecoration: "none";
}

  