
.TopBar
{
    background-color: blue; 
}

.hotMovies
{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em grey;
}

.filmeHref{
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
    color: #fff
}

.filmeHref:hover{
    text-decoration: none !important;
    color: #fff
}

.filmeHref:active{
    background-color: transparent !important;
}

.filmes
{
    padding-right: 5px;
    width:  250px;
    height: 330px;
    object-fit: cover;
    border-radius: 5%;
    filter: drop-shadow(3px 7px 5px #000);
    filter:saturate(0%);
}

.filmeCard:hover .filmes
{
    animation-name: de-saturate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    transition: 0.5s;
}

.filmeCard{
    position:relative;
}

.filme-overlay{
    position: absolute;
    user-select: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  width: 100% !important;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background: linear-gradient(315deg, rgba(57,56,57,0.8) 49%, rgba(57,56,57,0.8) 50%, rgba(80,80,80,0.6544818611038166) 51%, rgba(80,80,80,0.65) 100%);
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filmeCard:hover .filme-overlay{
    opacity: 1;
}

@keyframes de-saturate {
	0% {  }
	100% { filter: saturate(90%); }		
}

.activePage:hover
{
    cursor: pointer;
}

a:hover
{
    background-color:#aaa;
    border-radius: 2px;
    color:white;
}

a:active{
    background-color:#292929;
    border-radius: 2px;
    color:white;
}


.activePage{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.loginScreen{    
    margin: 100px auto;
    width: 500px;
    padding: 20px 20px 20px 20px;
}

.loginBox
{
    border:#000000 solid 1px;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    background: -moz-radial-gradient(center, #FFFFFF 0%, #D7D7D7 100%);
    background: -webkit-radial-gradient(center, #FFFFFF 0%, #D7D7D7 100%);
    background: radial-gradient(ellipse at center, #FFFFFF 0%, #D7D7D7 100%);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.loginRegisterFont
{
    color: #292929;
}

.profileImage{
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 10px #000);
    display:block;
    margin: 0px auto;
}

.library
{
    text-align: center;
    font-size: 30px;
    color: #292929;
}

.contentCard{
    width: 70vw;
    height: calc(100vh - 78px - 100px);
    margin: auto auto !important;
    margin-top: 50px !important;


    color:#292929;
    border:#000000 solid 1px;
    background: #FFFFFF;
    background: -moz-radial-gradient(center, #FFFFFF 0%, #D7D7D7 100%);
    background: -webkit-radial-gradient(center, #FFFFFF 0%, #D7D7D7 100%);
    background: radial-gradient(ellipse at center, #FFFFFF 0%, #D7D7D7 100%);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.contentCard-left{
    border-right: solid 1px #292929;
    height: 100% !important;
}

.contentCard-left img{
    width: auto !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}

  